<template name="errorOne">

    <div class="back-link">
        <a href="{{pathFor route='dashboard'}}" class="btn btn-primary">{{_ "error_back_home"}}</a>
    </div>

    <div class="error-container">
        <i class="pe-7s-way text-success big-icon"></i>
        <h1>{{_ "error_404"}}</h1>
        <strong>{{_ "error_pnf"}}</strong>
        <p>
            {{_ "error_pnf_info"}}
        </p>
        <a href="{{pathFor route='dashboard'}}" class="btn btn-xs btn-success">{{_ "error_back_home_bot"}}</a>
    </div>

</template>