<template name="login">

    <div class="back-link">
        <a href="{{pathFor route='landingPage'}}" class="btn btn-primary">{{_ "login_back_home"}}</a>
    </div>

    <div class="login-container">
        <div class="row">
            <div class="col-md-12">
                <div class="text-center m-b-md">
                    <h3>{{_ "login_title"}}</h3>
                    <small>{{_ "login_title_small"}}</small>
                </div>
                <div class="hpanel">
                    <div class="panel-body">
                        <form action="#" id="loginForm">
                            <div class="form-group">
                                <label class="control-label" for="username">{{_ "login_username"}}</label>
                                <input type="text" placeholder={{_ "login_email"}} title={{_ "login_email_title"}} required="" value="" name="username" id="username" class="form-control">
                                <span class="help-block small">{{_ "login_username_small"}}</span>
                            </div>
                            <div class="form-group">
                                <label class="control-label" for="password">{{_ "login_password"}}</label>
                                <input type="password" title={{_ "login_password_title"}} placeholder="******" required="" value="" name="password" id="password" class="form-control">
                                <span class="help-block small">{{_ "login_password_small"}}</span>
                            </div>
                            <div class="checkbox">
                                <input type="checkbox" class="i-checks" checked>
                                {{_ "login_password_remember"}}
                                <p class="help-block small">({{_ "login_password_remember_small"}})</p>
                            </div>
                            <button class="btn btn-success btn-block">{{_ "login"}}</button>
                            <a class="btn btn-default btn-block" href="#">{{_ "register"}}</a>
                        </form>
                    </div>
                </div>
            </div>
        </div>
		<div class="row">
            <div class="col-md-12 text-center">
                <button id="fb-login" class="btn btn-facebook"><i class="fa fa-facebook"></i> | {{_ "login"}}</button>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 text-center">
                {{_ "copyright"}}
            </div>
        </div>
    </div>
</template>
