<template name="login">

	{{#staggering}}

        <div class="content">

            <div class="row">
                <div class="col-lg-12">
                    {{#panel}}
                        
                        <div class="bf-table">
                            <div id="selector" class="fc fc-ltr fc-unthemed bf-table-selector">
                                <div class="fc-toolbar">
                                    <div class="fc-left">
                                        <h1>Logi sisse</h1>
                                    </div>   
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 text-center">
                                <div class="hpanel">
                                    <div class="panel-body login-panel">
                                        <a><img id="fb-login" class="login" src="images/fb.png"/></a>
                                        <a><img id="google-login" class="login" src="images/g+.png"/></a>
                                        <a><img id="tw-login" class="login" src="images/tw.png"/></a>
                                        <p>Kasuta ülal toodud linke ja logi sisse enda meelepärase kontoga. <br>
                                           NB! Kui kardad, et siinsele leheküljele sisenemine kajastub ka kuidagi sinu sotsiaalmeedia ruumis, siis ära muretse - mitte midagi me sinu eest postitama ega jagama ei hakka!
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                    {{/panel}}
                </div>
            </div>
            
        </div>
	{{/staggering}}

</template>
