<template name="passwordRecovery">

    <div class="back-link">
        <a href="{{pathFor route='dashboard'}}" class="btn btn-primary">Back to Dashboard</a>
    </div>

    <div class="login-container">
        <div class="row">
            <div class="col-md-12">
                <div class="text-center m-b-md">
                    <h3>{{_ "PASSWORD RECOVER"}}</h3>
                    <small>{{_ "fill_form_password"}}</small>
                </div>
                <div class="hpanel">
                    <div class="panel-body">
                        <p>
                            {{_ "recovery_email"}}
                        </p>
                        <form action="#" id="loginForm">
                            <div class="form-group">
                                <label class="control-label" for="username">{{_ "Email"}}</label>
                                <input type="text" placeholder={{_ "login_email"}} title={{_"recovery_email_short"}} required="" value="" name={{_ "recovery_username_name"}} id="username" class="form-control">
                                <span class="help-block small">{{_ "recovery_email_registered"}}</span>
                            </div>

                            <button class="btn btn-success btn-block">{{_ "pw_reset"}}</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 text-center">
                <strong>HOMER</strong> - Meteor Responsive WebApp <br/> 2015 Copyright Company Name
            </div>
        </div>
    </div>
</template>