<template name="notFound">
    <div class="content">
        <div class="row wrapper bg-white">
            <div class="col-lg-12">
                <div class="text-center m-lg p-lg">
                    <h1>Lehekülge ei leitud</h1>

                    <p>
                        Mine tagasi pealehele
                    </p>
                    <a href="{{pathFor route='root'}}" class="btn btn-sm btn-primary">Pealehele</a>
                </div>
            </div>
        </div>
    </div>
</template>