<template name="header">
    <div id="header">
        <a href="{{pathFor route='root'}}">
            <div id="logo" class="light-version">
            </div>
        </a>
        <nav role="navigation">
            <div class="header-link hide-menu"><i class="fa fa-bars"></i></div>
            <div class="small-logo">
                <span class="text-primary">EURO 2016</span>
            </div>
            <div class="mobile-menu">
                <button type="button" class="navbar-toggle mobile-menu-toggle" data-toggle="collapse" data-target="#mobile-collapse">
                    <i class="fa fa-chevron-down"></i>
                </button>
                <div class="collapse mobile-navbar" id="mobile-collapse">
                    <ul class="nav navbar-nav">
                        {{#if currentUser }}
                        <li>
                            <a class="" href="{{pathFor route='root'}}">Pealeht</a>
                        </li>
                        <li>
                            <a class="" href="{{pathFor route='logout'}}">Logi välja</a>
                        </li>
                        {{else }}
                        <li>
                            <a class="" href="{{pathFor route='login'}}">Logi sisse</a>
                        </li>
                        {{/if}}
                    </ul>
                </div>
            </div>
            <div class="navbar-right">
                <ul class="nav navbar-nav no-borders">
                    <li class="dropdown">
                        <a href="{{pathFor route='logout'}}">
                            <i class="pe-7s-upload pe-rotate-90"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
</template>