.bf-table {
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 18px;
}

.bf-table h1 {
    font-weight: 600;
    color: @color-blue; 
    margin-top: 0;
    margin-bottom: 0;
}

.bf-table tbody > tr > td {
    height: 64px;
    vertical-align: middle;
}

.bf-table-selector {
    padding-bottom: 100px;
}

.bf-center {
    text-align:center;
}

.bf-right {
    text-align:right;
}

.bf-left {
    text-align:left;
}

// Table style for Predictions

.bf-table-date {
    width: 200px; 
    text-align:center;
}

.bf-table-home {
    max-width: 250px; 
    text-align:right;
}

.bf-table-vs {
    width: 260px;
}

.bf-table-vs img {
    height: 48px; 
    padding-left:30px; 
    padding-right: 30px;
}

.bf-table-away {
    max-width: 250px; 
    text-align:left;
}

.bf-table-group {
    width: 200px; 
    text-align:center;
}

.bf-table-score {
    text-align:center;
}

// ----------------------------