<template name="payments">
	{{#staggering}}

    <div class="content">

        <div class="row">
            <div class="col-lg-12">
                {{#panel}}
                
                    <div class="bf-table">
                        <div id="selector" class="fc fc-ltr fc-unthemed bf-table-selector">
                            <div class="fc-toolbar">
                                <div class="fc-left">
                                    <h1>Aktiveeri ennustus</h1>
                                </div>   
                            </div>
                        </div>
						
						<div class="row">
							
							{{#if isInRole 'regular-user'}}
                            <div class="col-md-4 text-center">
                                <div class="hpanel">
                                    <!--div class="panel-body login-panel"-->
                                        
										<form id="checkout" action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
											<input type="hidden" name="cmd" value="_s-xclick">
											<input type="hidden" name="hosted_button_id" value="8SGBN3P3V8G3Q">

											<div id="payment-form"></div>
											
											<div class="login-panel">
												<p>Vali ülevalt sobiv makseviis ja tasu osavõtumaks, et oma ennustus aktiveerida. Ainult nii on sul võimalus ennustusmängust osa võtta ning auhindade peale võistelda!<br><br>
													Toetatud on kõik suuremad krediitkaardid ja Paypali maksed. 
												</p>
											</div>									
											<button type="submit" class="btn-lg btn-success">Maksa €20</button>
										</form>				
                                </div>
                            </div>
							{{else}}
							<div>
								<p>Oled juba aktiveeritud!</p>
							</div>
							{{/if}}
							<div class="col-md-6 text-left">
								<img src="images/mascot.jpg"/>    
                            </div>
                        </div>
						
                    </div>
            
                    
                {{/panel}}
            </div>
        </div>

    </div>
	{{/staggering}}
	
</template>
